
.brands>p {
    font-family: "TTLakes Medium" ;
    color: #7E7E82;
    margin: 32px 0 24px 16px;
    display: block;
    padding: 10px 0;
    background: linear-gradient(to right, #F8F8F8, #FFFFFF 100%);
}
.brand-list {
display: flex;
justify-content: start;
flex-wrap: nowrap;
list-style: none;
margin-left: 16px;
row-gap: 16px;
min-width: 0;
}
.swiper-wrapper {
    margin-bottom: 36px;
  }
.brand-list__item{
display: flex;
padding: 16px;
justify-content: space-between;
align-items: center;
width: 240px !important;
height: 72px;
background-color: #ffffff;
border-radius: 6px;
}
.brand-list__item::after {
content: "";
display: block;
width: 40px;
height: 40px;
border: 2px solid #FF3E79;
border-radius: 50%;
background: #ffffff url(../images/dropdown.png) no-repeat center;
}
.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    background-color: #DDDDDD;
    opacity: 1;
}
.swiper-pagination-bullet-active{
background-color: #B5B6BC;
}
.expend {
border: none;
color: #1B1C21;
font-family: "TTLakes Medium" ;
font-size: 16px;
margin-left: 50px;
position: relative;
vertical-align: middle;
display: none;
background-color: rgba(255, 255, 255, 0);
}
.expend::before {
content: "";
width: 7px;
height: 10px;
background-image: url(../images/down-arrow.svg);
position: absolute;
left:-17px;
top: 6px;
display: block;
}

/*BREAKPOINT 768px*/
@media screen and (min-width: 768px)
{
    .brand-list{
        flex-wrap: wrap;
        column-gap: 16px;
    }
    .expend{
        display: block;
    }
    .hidden {
        display: none;
    }
    .expend.active::before {
        transform: rotate(180deg);
    }
    .swiper-wrapper {
        max-width: 1000px;
    }
}

/*BREAKPOINT 1120px*/
@media screen and (min-width: 1120px)
{
    .brand-list {
        column-gap: 32px;
        margin-left: 32px;
    }
    .unhidden {
        display: flex;
    }
    .swiper-wrapper {
        max-width: 100%;
    }
}
